<!doctype html>
<html lang="en" ng-app="TodoList">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoListController.js"></script>
  </head>

  <body ng-controller="TodoListController as todoCtrl">

    <h1>Todo List</h1>

    <div>
      <form>
        <input type="text" ng-model="todoCtrl.newTask" required>
        <button class="btn" ng-click="todoCtrl.addTask()">Add Task</button>
      </form>
    </div>

    <div>
      <ul>
        <li ng-repeat="task in todoCtrl.taskList">
          <span ng-hide="editing" ng-click="editing = true">{{task.text}}</span>
          <form ng-show="editing" ng-submit="editing = false">
            <input type="text" ng-model="task.text" required>
            <button class="btn" type="submit">Save</button>
          </form>
        </li>
      </ul>

      <p>Click on any task to edit it.</p>
    </div>

  </body>
</html>
