<!doctype html>
<html lang="en" ng-app="TodoList">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoListController.js"></script>
  </head>

  <body ng-controller="TodoListController as todoCtrl">
    <div class="left">
      
    </div>
    <div class="right">

      <h1>Todo List</h1>
      <br>

      <form ng-submit="todoCtrl.addTask()">
        <div class="group">
          <input type="text" ng-model="todoCtrl.newTask" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Enter Task</label>
          <button class="btn" type="submit">Add Task</button>
        </div>
      </form>

      <ul>
        <li ng-repeat="task in todoCtrl.taskList">
          <section ng-hide="task.beingEdited">
            <span ng-click="todoCtrl.editTask(task)" class="completed-{{task.completed}}">{{task.text}}</span>
            <button class="btn" ng-click="todoCtrl.taskCompleted(task)">Completed</button>
          </section>

          <form ng-show="task.beingEdited" ng-submit="todoCtrl.editTask(task)">
            <input type="text" ng-model="task.text" required>
            <button class="btn" type="submit">Save Changes</button>
          </form>
        </li>
      </ul>

      <p id="instructions">Click on any task to edit it.</p>

      <section>
        <button class="btn" ng-click="todoCtrl.clearComplete()">Clear Completed</button>
      </section>

    </div>
  </body>
</html>
